# Multiple files with `pandas`

In [1]:
import numpy as np
import pandas as pd
import matplotlib

## Merge Practice

In [2]:
a_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Finland'],
    'Population (M)': [82.8, 67.2, 11.4, 5.5],
    'Capital': ['Berlin', 'Paris', 'Brussels', 'Helsinki']
})
a_df

   Country  Population (M)   Capital
0  Germany            82.8    Berlin
1   France            67.2     Paris
2  Belgium            11.4  Brussels
3  Finland             5.5  Helsinki

In [3]:
b_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Canada'],
    'HDI': [0.936, 0.901, 0.916, 0.926]
})
b_df

   Country    HDI
0  Germany  0.936
1   France  0.901
2  Belgium  0.916
3   Canada  0.926

### Inner Merge Practice

In [4]:
inner_merged_df = a_df.merge(b_df, on='Country')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916

#### Check your code

In [5]:
from nbresult import ChallengeResult

result = ChallengeResult('inner_merge',
    inner_merged_shape=inner_merged_df.shape,
    inner_merged_nulls=sum(inner_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/laurameyer/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/laurameyer/code/lewagon/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_inner_merge.py::TestInnerMerge::test_inner_merged_nulls PASSED      [ 50%]
test_inner_merge.py::TestInnerMerge::test_inner_merged_shape PASSED      [100%]

============================== 2 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/inner_merge.pickle

git commit -m 'Completed inner_merge step'

git push origin master

### Left Merge Practice

In [6]:
left_merged_df = a_df.merge(b_df, on='Country', how='left')
left_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

#### Check your code

In [7]:
from nbresult import ChallengeResult

result = ChallengeResult('left_merge',
    left_merged_shape=left_merged_df.shape,
    left_merged_nulls=sum(left_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/laurameyer/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/laurameyer/code/lewagon/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_left_merge.py::TestLeftMerge::test_left_merged_df_shape PASSED      [ 50%]
test_left_merge.py::TestLeftMerge::test_left_merged_nulls PASSED         [100%]

============================== 2 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/left_merge.pickle

git commit -m 'Completed left_merge step'

git push origin master

### Right Merge Practice

In [8]:
right_merged_df = a_df.merge(b_df, on='Country', how='right')
right_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3   Canada             NaN       NaN  0.926

#### Check your code

In [9]:
from nbresult import ChallengeResult

result = ChallengeResult('right_merge',
    right_merged_shape=right_merged_df.shape,
    right_merged_nulls=sum(right_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/laurameyer/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/laurameyer/code/lewagon/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_right_merge.py::TestRightMerge::test_right_merged_df_shape PASSED   [ 50%]
test_right_merge.py::TestRightMerge::test_right_merged_nulls PASSED      [100%]

============================== 2 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/right_merge.pickle

git commit -m 'Completed right_merge step'

git push origin master

### Outer Merge Practice

In [10]:
outer_merged_df = a_df.merge(b_df, on='Country', how='outer')
outer_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN
4   Canada             NaN       NaN  0.926

#### Check your code

In [11]:
from nbresult import ChallengeResult

result = ChallengeResult('outer_merge',
    outer_merged_shape=outer_merged_df.shape,
    outer_merged_nulls=sum(outer_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /Users/laurameyer/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/laurameyer/code/lewagon/data-multiple-files-with-pandas/tests
plugins: asyncio-0.19.0, anyio-3.6.2
asyncio: mode=strict
collecting ... collected 2 items

test_outer_merge.py::TestOuterMerge::test_outer_merged_df_shape PASSED   [ 50%]
test_outer_merge.py::TestOuterMerge::test_outer_merged_nulls PASSED      [100%]

============================== 2 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/outer_merge.pickle

git commit -m 'Completed outer_merge step'

git push origin master

## Join Practice

In [12]:
aa_df = a_df.set_index("Country")
aa_df

         Population (M)   Capital
Country
Germany            82.8    Berlin
France             67.2     Paris
Belgium            11.4  Brussels
Finland             5.5  Helsinki

In [13]:
bb_df = b_df.set_index("Country")
bb_df

           HDI
Country
Germany  0.936
France   0.901
Belgium  0.916
Canada   0.926

In [14]:
aa_df.join(bb_df)

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Finland             5.5  Helsinki    NaN

## Concat Practice

In [15]:
concat_df = pd.concat([a_df, b_df], axis="index", sort=False)
concat_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin    NaN
1   France            67.2     Paris    NaN
2  Belgium            11.4  Brussels    NaN
3  Finland             5.5  Helsinki    NaN
0  Germany             NaN       NaN  0.936
1   France             NaN       NaN  0.901
2  Belgium             NaN       NaN  0.916
3   Canada             NaN       NaN  0.926

## Olympic Sports and Medals, 1896-2014

In [16]:
countries_df = pd.read_csv('dictionary.csv')
countries_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'dictionary.csv'

In [ ]:
summer_df = pd.read_csv('summer.csv')
summer_df.rename(columns={"Country": "Code"}, inplace=True)
summer_df.head()

In [ ]:
winter_df = pd.read_csv('winter.csv')
winter_df.rename(columns={"Country": "Code"}, inplace=True)
winter_df.head()

### Combining The Data

In [ ]:
summer_countries_df = summer_df.merge(countries_df, on="Code")
summer_countries_df["Season"] = "Summer"
summer_countries_df.head()

In [ ]:
winter_countries_df = winter_df.merge(countries_df, on="Code")
winter_countries_df["Season"] = "Winter"
winter_countries_df.head()

In [ ]:
all_df = pd.concat([summer_countries_df, winter_countries_df], sort=False)
all_df.head()

#### Check your code

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('all_df',
    all_df_shape=all_df.shape,
    all_df_columns=set(all_df.columns)
)
result.write()

print(result.check())

### Top Countries Analysis

In [ ]:
all_count_df = all_df[all_df["Year"] >= 1984] \
    .groupby(["Country"]) \
    .count()[["Medal"]] \
    .sort_values(by="Medal", ascending=False) \
    .rename(columns={'Medal':'Medal Count'})
top_10_df = all_count_df.head(10)

In [ ]:
top_10_df.plot(kind="bar");

#### Check your code

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('olympic_games',
    top_country_1=top_10_df.iloc[0]['Medal Count'],
    top_country_10=top_10_df.iloc[9]['Medal Count'],
)
result.write()

print(result.check())

In [ ]:
season_count_df = all_df[all_df["Year"] >= 1984].groupby(["Country", "Season"])["Medal"].count().unstack()
season_count_df.fillna(0, inplace=True)
season_count_df["Summer"] = season_count_df["Summer"].astype(int)
season_count_df["Winter"] = season_count_df["Winter"].astype(int)
season_count_df['Total'] = season_count_df.sum(axis=1)
top_10_season_df = season_count_df.sort_values(by='Total', ascending=False).head(10)

In [ ]:
top_10_season_df[['Summer', 'Winter']].plot(kind="bar");

#### Check your code

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('olympic_games_season',
    top_country_season_shape=top_10_season_df.shape,
    top_country_1_summer=top_10_season_df.iloc[0]['Summer'],
    top_country_10_winter=top_10_season_df.iloc[9]['Winter'],
)
result.write()

print(result.check())

In [ ]:
all_df[(all_df.Year==2008) & (all_df.Event=='Basketball') & (all_df.Medal=='Gold')]

In [ ]:
# If we drop the athlete column we can check how many rows are duplicated - indicating a medal for a team sport
all_events_df = all_df.drop(columns='Athlete')
print('Total medal rows: ', all_events_df.shape[0])
print('multiple event winners: ', all_events_df.duplicated().sum())

In [ ]:
# We can drop duplicated rows to keep just one winner per event
all_events_df.drop_duplicates(inplace=True)
all_events_df.shape

In [ ]:
all_events_df = all_events_df[all_events_df["Year"] >= 1984] \
    .groupby(["Country"]) \
    .count()[["Medal"]] \
    .sort_values(by="Medal", ascending=False) \
    .rename(columns={'Medal':'Event Count'})
top_10_events_df = all_events_df.head(10)

In [ ]:
top_10_events_df.plot(kind='bar');

#### Check your code

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('olympic_games_event',
    top_country_event_shape=top_10_events_df.shape,
    top_country_1_event=top_10_events_df.iloc[0]['Event Count'],
    top_country_10_event=top_10_events_df.iloc[9]['Event Count'],
)
result.write()

print(result.check())

In [ ]:
top_10_combined = top_10_events_df.join(top_10_df, how='outer') \
    .sort_values(by='Medal Count', ascending=False)

top_10_combined.plot(kind='bar');

#### Check your code

In [ ]:
from nbresult import ChallengeResult

result = ChallengeResult('olympic_games_combined',
    top_combined_shape=top_10_combined.shape,
    top_combined_1_event=top_10_combined.iloc[0]['Event Count'],
    top_combined_1_medal=top_10_combined.iloc[0]['Medal Count'],
    top_combined_10_event=top_10_combined.iloc[9]['Event Count'],
    top_combined_10_medal=top_10_combined.iloc[9]['Medal Count']
)
result.write()

print(result.check())